<div class="app-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto px-0">
          <div class="card">
            <div class="card-body p-4">

             <mat-horizontal-stepper [linear]="true">
               <mat-step [stepControl]="restaurantDetails">
                <form [formGroup]="restaurantDetails">
                  <ng-template matStepLabel>Fill Restaurant Details</ng-template>
                  <div style="padding-bottom: 20px; color: #707070;">
                    <span class="inputRequired">*&nbsp;&nbsp;</span>
                    <span style="text-decoration: underline">These fields are required</span>
                  </div>

                  <!--
                  <div class="mb-3">
                    <label for="owner">Owner <span class="inputRequired">&nbsp;&nbsp;*</span></label>
                    <select class="form-control">
                      <option value="" disabled selected>Select Owner</option>
                      <option *ngFor="let owner of ownerList" value="{{owner}}">{{owner}}</option>
                    </select>
                  </div>-->

                  <div class="mb-3">
                    <label for="resName">Restaurant Name <span class="inputRequired">&nbsp;&nbsp;*</span></label>
                    <input type="text" id="resName" class="form-control" formControlName="restaurantName" autofocus="true">
                    <div *ngIf="(restaurantDetails.get('restaurantName').touched || restaurantDetails.get('restaurantName').dirty)
                                && !restaurantDetails.get('restaurantName').valid" class="errorMsg">
                      Enter valid Restaurant Name
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="location">Address <span class="inputRequired">&nbsp;&nbsp;*</span></label>
                    <input type="text" id="location" class="form-control" formControlName="location">
                    <div *ngIf="(restaurantDetails.get('location').touched || restaurantDetails.get('location').dirty)
                                && !restaurantDetails.get('location').valid" class="errorMsg">
                       Enter valid Restaurant Address
                    </div>
                  </div>
                  <!--
                  <div class="mb-3">
                    <label for="description">Short Description <span class="inputRequired">&nbsp;&nbsp;*</span></label>
                    <input type="text" class="form-control" formControlName="shortDescription">
                  </div>
                  <div class="mb-3">
                    <label for="status">Restaurant Online Status&nbsp;&nbsp;&nbsp;</label>
                    <label class="switch">
                      <input type="checkbox" checked formControlName="isOnline">
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="mb-3">
                    <label for="review">Review</label>
                    <input type="number" class="form-control" formControlName="review">
                  </div>
                  <div class="mb-3">
                    <label for="discount">Discount</label>
                    <input type="number" class="form-control" formControlName="discount">
                  </div>-->
                  <div class="mb-3">
                    <label for="phone">Phone Number <span class="inputRequired">&nbsp;&nbsp;*</span></label>
                    <input  type="number" class="form-control" formControlName="phoneNumber">
                    <div *ngIf="(restaurantDetails.get('phoneNumber').touched || restaurantDetails.get('phoneNumber').dirty)
                                && !restaurantDetails.get('phoneNumber').valid" class="errorMsg">
                      Enter valid Phone Number
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="url">Website URL <span class="inputRequired">&nbsp;&nbsp;*</span></label>
                    <input placeholder="https://example.com" class="form-control" formControlName="websiteURL">
                    <div *ngIf="(restaurantDetails.get('websiteURL').touched || restaurantDetails.get('websiteURL').dirty)
                                && !restaurantDetails.get('websiteURL').valid" class="errorMsg">
                      Enter valid website URL
                    </div>
                  </div>
                  <!--
                  <div class="mb-3">
                    <label for="openTime">Open Time <span class="inputRequired">&nbsp;&nbsp;*</span></label>
                    <input [ngxTimepicker]="openTime" id="openTime" class="form-control" formControlName="openTime" placeholder="Click here to select time" readonly required (click)="setTime()">
                    <ngx-material-timepicker #openTime [defaultTime]="time"></ngx-material-timepicker>
                  </div>
                  <div class="mb-3">
                    <label for="openTime">Close Time <span class="inputRequired">&nbsp;&nbsp;*</span></label>
                    <input [ngxTimepicker]="closeTime" id="closeTime" class="form-control" formControlName="closeTime" placeholder="Click here to select time" readonly required (click)="setTime()">
                    <ngx-material-timepicker  #closeTime [defaultTime]="time"></ngx-material-timepicker>
                  </div>
                  <div class="mb-3">
                    <label>Open Day <span class="inputRequired">&nbsp;&nbsp;*</span></label>
                    <select class="form-control" placeholder="Select Open Day">
                      <option *ngFor="let day of days" value="{{day}}">{{day}}</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label>Close Day <span class="inputRequired">&nbsp;&nbsp;*</span></label>
                    <select class="form-control" placeholder="Select Close Day">
                      <option *ngFor="let day of days" value="{{day}}">{{day}}</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="postcode">Postcode</label>
                    <input type="text" class="form-control" formControlName="passcode">
                  </div>
                  <div class="mb-3">
                    <label for="minOrder">Minimum Order</label>
                    <input type="number" class="form-control" formControlName="minimumOrder">
                  </div>
                  <div class="mb-3">
                    <label for="delRadius">Delivery Radius (km)</label>
                    <input type="number" class="form-control" formControlName="deliveryRadius">
                  </div>
                  <div class="mb-3">
                    <label for="printerIp">Wifi Printer IP Address</label>
                    <input type="text" class="form-control" placeholder="Example- 192.168.1.9" formControlName="wifiPrinterIP">
                  </div>
                  <div class="mb-3">
                    <label for="printerPort">Wifi Printer Port Number</label>
                    <input type="number" class="form-control" formControlName="wifiPrinterPort">
                  </div>-->

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary" matStepperNext>Next</button>
                  </div>
                </form>
               </mat-step>

               <mat-step [stepControl]="ownerForm">
                <form [formGroup]="ownerForm" (ngSubmit)="addRestaurant()">
                  <ng-template matStepLabel>Fill Owner Details</ng-template>
                  <div style="padding-bottom: 20px; color: #707070;">
                    <span class="inputRequired">*&nbsp;&nbsp;</span>
                    <span style="text-decoration: underline">These fields are required</span>
                    <br>
                  </div>

                  <div class="alert alert-danger alert-dismissible" *ngIf="errorMsg">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    This email already exists. Please choose another email.
                  </div>

                  <div class="mb-3">
                    <label for="ownerMail">Email <span class="inputRequired">&nbsp;&nbsp;*</span></label>
                    <input type="text" class="form-control" placeholder="johndoe@example.com" formControlName="email" autofocus="true">
                    <div *ngIf="(ownerForm.get('email').touched || ownerForm.get('email').dirty)
                                && !ownerForm.get('email').valid" class="errorMsg">
                      Enter valid email address
                    </div>
                    
                  </div>
                  <div class="mb-3">
                    <label for="pass">Password <span class="inputRequired">&nbsp;&nbsp;*</span></label>
                    <input type="password" class="form-control" formControlName="password">
                    <div *ngIf="(ownerForm.get('password').touched || ownerForm.get('password').dirty)
                                && !ownerForm.get('password').valid" class="errorMsg">
                      Enter valid password
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="cnfmPass">Confirm Password <span class="inputRequired">&nbsp;&nbsp;*</span></label>
                    <input type="password" class="form-control" formControlName="cnfmPass">
                    <div *ngIf="(ownerForm.get('cnfmPass').touched || ownerForm.get('cnfmPass').dirty)
                                && ownerForm.get('cnfmPass').errors?.PassMatch" class="errorMsg">
                      Passwords do not match
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="button" class="btn btn-primary" matStepperPrevious>Previous</button>
                    <button type="button" class="btn btn-success" type="submit"
                      [disabled]="!ownerForm.get('email').valid || !ownerForm.get('password').valid || !ownerForm.get('cnfmPass').valid">
                      Submit
                    </button>
                  </div>
                </form>
               </mat-step>
             </mat-horizontal-stepper>

            </div>
          </div>
        </div>
      </div>
    </div>
</div>

