<div id="overlay" *ngIf="isLoadingItem">
  <div class="overlay-content">
      <div class="spinner-border"></div>
  </div>
</div>
<div class="app-body">
    <div class="container" >
        <div class="row">
          <div class="col-3 text-right" data-toggle="modal" data-target="#addAllergy">
              <div class="card bg-primary res-card">
                <div class="card-body text-center">
                  <h1 class="card-text"> </h1>
                  <p class="card-text">Add Allergy</p>
                </div>
              </div>
            </div>
            <div class="col-3 text-right" data-toggle="modal" data-target="#addAllergyGroup">
              <div class="card bg-primary res-card">
                <div class="card-body text-center">
                  <h1 class="card-text"> </h1>
                  <p class="card-text">Add Allergy Group</p>
                </div>
              </div>
            </div>

            <div class="col-3 text-right" data-toggle="modal" data-target="#addItem">
              <div class="card bg-primary res-card">
                <div class="card-body text-center">
                  <h1 class="card-text"> </h1>
                   <p class="card-text">Add New Item</p>
                </div>
              </div>
            </div>

            <div class="col-3 text-right" data-toggle="modal" data-target="#addVarient">
              <div class="card bg-primary res-card">
                <div class="card-body text-center">
                  <h1 class="card-text"> </h1>
                   <p class="card-text">Add Variant</p>
                </div>
              </div>
            </div>
       </div>

      <div class="row">

        <div class="col-md-3" data-toggle="modal" data-target="#addNewCategory">
            <div class="card bg-primary res-card">
            <div class="card-body text-center">
              <h1 class="card-text"> </h1>
              <p class="card-text">Add New Categories</p>
            </div>
          </div>
        </div>
        <div class="col-md-3" data-toggle="modal" data-target="#addOption">
            <div class="card bg-primary res-card">
            <div class="card-body text-center">
              <h1 class="card-text"> </h1>
              <p class="card-text">Add Option</p>
            </div>
          </div>
        </div>
        <div class="col-md-3" data-toggle="modal" data-target="#addToppings">
          <div class="card bg-primary res-card">
            <div class="card-body text-center">
              <h1 class="card-text"></h1>
              <p class="card-text">Add Toppings</p>
            </div>
          </div>
        </div>
        <div class="col-md-3" data-toggle="modal" data-target="#CreateToppingGroups">
          <div class="card bg-primary res-card">
            <div class="card-body text-center">
              <h1 class="card-text"></h1>
              <p class="card-text">Create Toppings Groups</p>
            </div>
          </div>
        </div>
      </div>

    <div class="row">
      <div class="col-3 text-right" data-toggle="modal" data-target="#addVarientGroup">
        <div class="card bg-primary res-card">
          <div class="card-body text-center">
            <h1 class="card-text"> </h1>
             <p class="card-text">Add Variant Group</p>
          </div>
        </div>
      </div>
    </div>  

    <div  class="row">

    </div>

    <div class="row">
        <div *ngIf="!isLoadingItem" class="col">
          <table class="table table-bordered table-hover">
            <thead>
              <tr class="table-success">
                <th>S.No</th>
                <th>Item Name</th>
                <th>Categories</th>
                <th>Options</th>
                <th>Toppings Groups</th>
                <th>Price</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let cats of catItems; index as i">
                <tr class="table-light table-row-hover" *ngFor="let item of cats.items; index as j">
                  <td>{{cats.startSerialNo + j}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.category.name}}</td>
                  <td>{{(item.options.length != 0) ? item.options : 'None'}}</td>
                  <td>{{(item.toppingGroups.name) ? item.toppingGroups.name : 'None' }}</td>
                  <td style="color: tomato;">£ {{item.price | number: '1.2-2'}}</td>
                  <!-- <td style="color: tomato;">{{item.price | number: '1.2-2' | germanCurr: item.price}} €</td> -->
                  <td class="text-center"><a style="text-decoration: none; color: tomato;">
                    <i class="fa fa-edit" style="font-size: 16pt;" data-toggle="modal" data-target="#editItem" (click)="editItemList(i, j)"></i>
                  </a></td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


<!--Model For add new Item-->
  <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="addItem">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add New item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body item-modal-body">

            <form [formGroup]="addingItem">
                <div class="form-group">
                  <label for="Entering New item">Enter New Item</label>
                  <input type="text" class="form-control" formControlName="name" placeholder="Enter Item Name">
                </div>
                <div class="form-group">
                  <label for="Select category">Select category</label>
                  <input id="newItemCat" readonly type="text" class="form-control" (click)="getCategories()"
                  data-toggle="modal" data-target="#getCategories" placeholder="Select category">
                </div>
                <div class="form-group">
                    <label for="Select Topping Group">Select Topping Group</label>
                    <input id="newItemTopp" readonly type="text" class="form-control" (click)="getToppingGroup()"
                    data-toggle="modal" data-target="#getToppingGroup" placeholder="Select Topping Group">
                </div>
                <div class="form-group">
                  <label for="Select Allergy Group">Select Allergy Group</label>
                  <input id="newItemAllergy" readonly type="text" class="form-control" (click)="getAllergyGroup()"
                  data-toggle="modal" data-target="#getAllergyGroup" placeholder="Select Allergy Group">
              </div>
                <div class="form-group">
                    <label for="Add Description">Add Description</label>
                    <input type="text" class="form-control" formControlName="description" placeholder="Description">
                </div>

                <div class="form-group">
                    <label for="Select Option">Select Option</label>
                    <div class="input-group">
                        <input id="newItemOption" readonly type="text" class="form-control" (click)="getOption()"
                        data-toggle="modal" data-target="#getOption" placeholder="Default Option">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-pound-sign"></i></span>
                          <!-- <span class="input-group-text"><i class="fas fa-euro-sign"></i></span> -->
                        </div>
                        <input type="number" class="form-control" formControlName="price" placeholder="0.00">
                    </div>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <div class="row">
                  <div *ngIf="isLoading" class="col text-center">
                    <div class="spinner-border spinner-border-sm text-danger" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div *ngIf="!isLoading" class="col">
                    <button type="button" class="btn btn-danger"
                    (click)="addItem()" data-dismiss="modal" >Add</button>
                </div>
                <div class="col">
                    <button id="addItemClose" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!--Model For add new category-->
  <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="addNewCategory">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form [formGroup]="addingCategory" >
        <div class="modal-header">
          <h5 class="modal-title">Add New category</h5>
          <button type="button" class="btn btn-danger"(click)="getCategories()"
          data-toggle="modal" data-target="#myCategory" >See All category
          </button>
        </div>
        <div class="modal-body">


            <div class="form-group">
              <label for="Entering New category">Enter New category</label>
              <input type="text" class="form-control" formControlName="name" placeholder="Enter New category Name">
            </div>
            <div class="form-group">
              <label for="Add Description">Add Description</label>
              <input type="text" class="form-control" formControlName="description" placeholder="Add Description">
            </div>

        </div>
        <div class="modal-footer">
          <div class="row">
            <div *ngIf="isLoading" class="col text-center">
              <div class="spinner-border spinner-border-sm text-danger" role="status">
                  <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div *ngIf="!isLoading" class="col">
              <button type="button" class="btn btn-danger"
              [disabled]="!addingCategory.get('name').valid"
              (click)="addCategory()">Add</button>
            </div>
              <button id="addCategoryClose" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
         </div>
        </div>
      </form>
      </div>
    </div>
  </div>


  <!--Model For add Option-->
  <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="addOption">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form [formGroup]="addingOption">
        <div class="modal-header">
          <h5 class="modal-title">Add Option</h5>
          <button type="button" class="btn btn-danger" (click)="getOption()"
          data-toggle="modal" data-target="#myOption"> See All
          </button>
        </div>
        <div class="modal-body">

            <div class="form-group">
              <label for="Entering New Option">Enter New Option</label>
              <input type="text" class="form-control" formControlName="name" placeholder="Enter New Option Name">
            </div>

            <div class="form-group">
              <label for="Selecting Topping Group">Select Topping Group</label>
              <input type="text" class="form-control" formControlName="name" placeholder="Selecting Topping Group">
            </div>

        </div>
        <div class="modal-footer">
          <div class="row">
            <div *ngIf="isLoading" class="col text-center">
              <div class="spinner-border spinner-border-sm text-danger" role="status">
                  <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div *ngIf="!isLoading" class="col">
              <button type="button" class="btn btn-danger"
              [disabled]="!addingOption.get('name').valid"
              (click)="addOption()">Add</button>
            </div>
              <button id="addOptionClose" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>


  <!--Model For add new Topping-->
  <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="addToppings">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form [formGroup]="addingTopping">
        <div class="modal-header">
          <h5 class="modal-title">Add New Topping</h5>
          <button type="button" class="btn btn-danger" (click)="getTopping(false)"
          data-toggle="modal" data-target="#getTopping">See All Topping
          </button>
        </div>
        <div class="modal-body">


            <div class="form-group">
              <label for="Select Option">Enter New Topping</label>
              <div class="input-group">
                  <input type="text" class="form-control" formControlName="name" placeholder="Enter Topping Name">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-pound-sign"></i></span>
                    <!-- <span class="input-group-text"><i class="fas fa-euro-sign"></i></span> -->
                  </div>
                  <input type="number" class="form-control" formControlName="price" placeholder="0.00">
              </div>
          </div>

        </div>
        <div class="modal-footer">
          <div class="row">
            <div *ngIf="isLoading" class="col text-center">
              <div class="spinner-border spinner-border-sm text-danger" role="status">
                  <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div *ngIf="!isLoading" class="col">
              <button type="button" class="btn btn-danger"
              [disabled]="!addingTopping.get('name').valid"
              (click)=" addTopping()" >Add</button>
            </div>
              <button id="addToppingsClose" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>


  <!--Model For add Create Topping Group-->
  <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="CreateToppingGroups">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form [formGroup]="addingToppingGroup">
        <div class="modal-header">
          <h5 class="modal-title">Add New Topping Group</h5>
          <button type="button" class="btn btn-danger"(click)="getToppingGroup()"
          data-toggle="modal" data-target="#myTappingGroup">See All Groups</button>
        </div>
        <div class="modal-body">


            <div class="form-group">
              <label for="Entering New Option">Enter New Topping Group</label>
              <input type="text" class="form-control" formControlName="name" placeholder="Enter New Topping Group Name">
            </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="getTopping(false)"
          data-toggle="modal" data-target="#myToppingList"
          [disabled]="!addingToppingGroup.get('name').valid"
          >Next</button>
          <button id="CreateToppingGroupsClose" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </form>
      </div>
    </div>
  </div>


  <!--Model For Get Categories-->
  <div class="modal" tabindex="-1" role="dialog" id="getCategories" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Select Category</h5>
          <button id= "categoryCloseButton" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body category-modal-body">

          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let category of categories">{{category.name}}
              <span class=""><input [value]="category._id" type="radio"
                (change)="setItemCategory($event, category.name)" name="category"></span>
            </li>

          </ul>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
        </div>
      </div>
    </div>
  </div>


  <!--Model For Get Topping Group-->
  <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="getToppingGroup">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Select Topping Group</h5>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Default</button>
        </div>
        <div class="modal-body">

          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let topping of toppingGroup">{{topping.name}}
            <span class=""><input [value]="topping._id" type="radio" (change)="setItemTopping($event, topping.name)"
              name="topping"></span></li>
          </ul>

        </div>
        <div class="modal-footer">
          <button id="toppingCloseButton" type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
        </div>
      </div>
    </div>
  </div>


   <!--Model For Get Options-->
   <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="getOption">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Select Option</h5>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Default</button>
        </div>
        <div class="modal-body">

          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let option of options">{{option.name}}
            <span class=""><input [value]="option._id" type="radio" (change)="setItemOption($event, option.name)"
            name="option"></span></li>
          </ul>

        </div>
        <div class="modal-footer">
          <button id="optionCloseButton" type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
        </div>
      </div>
    </div>
  </div>


    <!--Model For Add New Category/ My Category -->
    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="myCategory">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">My Category</h5>
          </div>
          <div class="modal-body category-modal-body">


            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center"
                *ngFor="let category of categories; index as i">{{category.name}}
                <div class="list-group-item d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#editCategory"
                 (click)="setSelectedCategory(i)">Edit
                </button>
                <button class="btn " (click)="deleteCategory(category._id)" data-dismiss="modal"><i class="fa fa-trash"></i></button>
              </div>
              </li>

            </ul>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
          </div>
        </div>
      </div>
    </div>


    <!--Model For Add Option/ My Option -->
    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="myOption">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">My Option</h5>
          </div>
          <div class="modal-body category-modal-body">

            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let option of options; index as i">{{option.name}}
              <div class="list-group-item d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#editOption"
                (click)="setSelectedOption(i)">Edit
                </button>
                <button class="btn " (click)="deleteOption(option._id)" data-dismiss="modal"><i class="fa fa-trash"></i></button>
              </div>
              </li>
            </ul>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
          </div>
        </div>
      </div>
    </div>

    <!--Model For Add New Tapping Group/ My Tapping Group -->
    <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="myTappingGroup">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">My Topping Group</h5>
          </div>
          <div class="modal-body category-modal-body">

            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let topping of toppingGroup; index as i">{{topping.name}}
              <div class="list-group-item d-flex justify-content-center align-items-center">
                <button (click)="setSelectedToppingGroup(i)" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#editToppingGroup">
                Edit
                </button>
                <button class="btn" (click)="deleteToppingGroup(topping._id)" data-dismiss="modal"><i class="fa fa-trash"></i></button>
              </div>
              </li>
            </ul>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
          </div>
        </div>
      </div>
    </div>

     <!--Model For Add New Toppings/ See all Topping -->
     <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="getTopping">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">My Topping</h5>
          </div>
          <div class="modal-body category-modal-body">

            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let topping of toppings; index as i">{{topping.name}} (£)
              <div class="list-group-item d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#editTopping"
                (click)="setSelectedTopping(i)">Edit
                </button>
                <button class="btn" (click)="deleteTopping(topping._id)" data-dismiss="modal"><i class="fa fa-trash"></i></button>
              </div>
              </li>
            </ul>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
          </div>
        </div>
      </div>
    </div>

<!--Model For add Create Topping Group/select add-->
<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="myToppingList">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select add</h5>
      </div>
      <div class="modal-body category-modal-body">

        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let toping of toppings; index as i">{{toping.name}}
            <span class=""><input class="newToppingGroup"  [value]="toping._id" type="checkbox" (change)="addItemToppingGroup(toping._id, i)"
            ></span>
          </li>
        </ul>


      </div>
      <div class="modal-footer">
        <div class="row">
          <div *ngIf="isLoading" class="col text-center">
            <div class="spinner-border spinner-border-sm text-danger" role="status">
                <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div *ngIf="!isLoading" class="col">
            <button type="button" class="btn btn-success"
            (click)="addToppingGroup(); clearCheckData();"
            >Save
            </button>
          </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
        (click)="clearCheckData()"
        >Cancel
        </button>
       </div>
      </div>
    </div>
  </div>
</div>


<!--Model For add New Category/ see all category/ my category/ edit-->
<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="editCategory">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="editingCategory">
      <div class="modal-header">
        <h5 class="modal-title">Edit Category</h5>
      </div>
      <div class="modal-body">

        <div>
          <label for="Entering category">Enter Category</label>
          <input type="text" class="form-control" formControlName="name" [value]="selectedCategory?.name">
        </div>
        <div>
          <label for="Add Description">Edit Description</label>
          <input type="text" class="form-control" formControlName="description" [value]="selectedCategory?.description">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success"
        (click)="updateCategory()" data-dismiss="modal"
        [disabled]="!editingCategory.get('name').valid"
        >Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </form>
    </div>
  </div>
</div>


<!--Model For add Option/ see all Option/ my Option/ edit -->
<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="editOption">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="editingOption">
      <div class="modal-header">
        <h5 class="modal-title">Edit Option</h5>
      </div>
      <div class="modal-body">

        <div>
          <label for="Entering category">Enter Option</label>
          <input type="text" class="form-control" formControlName="name" [value]="selectedOption?.name">
        </div>
        <div>
          <label for="Add Description">Edit Description</label>
          <input type="text" class="form-control" formControlName="description" [value]="selectedOption?.description">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success"
        (click)="updateOption()" data-dismiss="modal"
        [disabled]="!editingOption.get('name').valid"
        >Save</button>
        <button id="editOptionClose" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </form>
    </div>
  </div>
</div>


 <!--Model For add new Topping/ See All Topping/ My Topping/ Edit-->
 <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="editTopping">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="editingTopping">
      <div class="modal-header">
        <h5 class="modal-title">Edit Topping</h5>
      </div>
      <div class="modal-body">


          <div class="form-group">
            <label for="Select Option">Enter Topping</label>
            <div class="input-group">
                <input type="text" class="form-control" formControlName="name" [value]="selectedTopping?.name">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-pound-sign"></i></span>
                  <!-- <span class="input-group-text"><i class="fas fa-euro-sign"></i></span> -->
                </div>
                <input type="number" class="form-control" formControlName="price" [value]="selectedTopping?.price">
            </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success"
        (click)="updateTopping()" data-dismiss="modal"
        [disabled]="!editingTopping.get('name').valid"
        >Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!--Model For add new ToppingGroup/ See All ToppingGroup/ My ToppingGroup/ Edit-->
<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="editToppingGroup">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Select
        </h5>
      </div>
      <div class="modal-body">

        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let topping of toppings; index as i">{{topping.name}}
          <span #toppingCheckboxes>
            <input [value]="topping._id" [checked]="topping.isSelected" type="checkbox" (change)="setSelectedTopping(i)"
            ></span>
          </li>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success"
        (click)="updateToppingGroup()" data-dismiss="modal"
        >Update</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!--Model For edit Item-->
<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="editItem">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit item</h5>
        <button type="button" class="btn btn-danger"
        (click)="deleteItem()" data-dismiss="modal"
        >Delete</button>
      </div>
      <div class="modal-body item-modal-body">

          <form [formGroup]="addingItem">
              <div class="form-group">
                <label for="Entering New item">Enter Item</label>
                <input type="text" class="form-control" formControlName="name" [value]="selectedItem?.name">
              </div>
              <div class="form-group">
                <label for="Select category">Select category</label>
                <input readonly type="text" class="form-control" (click)="getCategories()"
                  data-toggle="modal" data-target="#getCategories" placeholder="Default Category" [value]="itemCatName">
              </div>
              <div class="form-group">
                  <label for="Select Topping Group">Select Topping Group</label>
                  <input readonly type="text" class="form-control" (click)="getToppingGroup()"
                  data-toggle="modal" data-target="#getToppingGroup" formControlName="toppingGroup" placeholder="Default Topping Group"[value]="itemToppName">
              </div>
              <div class="form-group">
                <label for="Select Allergy Group">Select Allergy Group</label>
                <input readonly type="text" class="form-control" (click)="getToppingGroup()"
                data-toggle="modal" data-target="#getAllergyGroup" formControlName="allergyGroup" placeholder="Default Allergy Group"[value]="itemAllergyName">
            </div>
              <div class="form-group">
                  <label for="Add Description">Add Description</label>
                  <input type="text" class="form-control" formControlName="description" placeholder="Description">
              </div>

              <div class="form-group">
                  <label for="Select Option">Select Option</label>
                  <div class="input-group">
                      <input readonly type="text" class="form-control" (click)="getOption()"
                      data-toggle="modal" data-target="#getOption" formControlName="options" placeholder="Default Option" [value]="itemOptionName">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-pound-sign"></i></span>
                        <!-- <span class="input-group-text"><i class="fas fa-euro-sign"></i></span> -->
                      </div>
                      <input type="number" class="form-control" formControlName="price" [value]="selectedItem?.price">
                  </div>
              </div>
          </form>

      </div>
      <div class="modal-footer">
          <div class="row">
              <div class="col">
                  <button type="button" class="btn btn-success"
                  (click)="updateItem()" data-dismiss="modal"
                  >Update</button>
              </div>
              <div class="col">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal"
                  (click)="editform()"
                  >Cancel</button>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>


<!--Model For Add Allergy -->
<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="addAllergy">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Allergy Description</h5>
          <button type="button" class="btn btn-danger"
          (click)="getAllergy(false)"
          data-toggle="modal" data-target="#myAllergy"
          >See All
          </button>
      </div>

      <div class="modal-body">

          <form [formGroup]="addingAllergy">
              <div class="form-group">
                <label for="Entering New item">Enter Allergy Title</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Item Tittle">
              </div>

              <div class="form-group">
                  <label for="Add Description">Add Description</label>
                  <textarea type="text" class="form-control" formControlName="description"  placeholder="Add Description"
                  rows="4" cols="50">
                  </textarea>
              </div>

          </form>

      </div>
      <div class="modal-footer">
          <div class="row">
                <div *ngIf="isLoading" class="col text-center">
                  <div class="spinner-border spinner-border-sm text-danger" role="status">
                      <span class="sr-only">Loading...</span>
                  </div>
              </div>
              <div *ngIf="!isLoading" class="col">
                  <button type="button" class="btn btn-danger"
                  [disabled]="!addingAllergy.get('name').valid"
                  (click)="addAllergy()" data-dismiss="modal" >Add</button>
              </div>
              <div class="col">
                  <button id="addAllergyClose" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!--Model For Add Allergy Description/ My Allergy -->
<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="myAllergy">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">My Allergy</h5>
      </div>
      <div class="modal-body category-modal-body">

        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let allergy of allergies; index as i">{{allergy.name}}
          <div class="list-group-item d-flex justify-content-center align-items-center">
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#editAllergy"
            (click)="setSelectedAllergy(i)">Edit
            </button>
            <button class="btn" (click)="deleteAllergy(allergy._id)" data-dismiss="modal"><i class="fa fa-trash"></i></button>
          </div>
          </li>
        </ul>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>

<!--Model For Edit Allergy -->
<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="editAllergy">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="editingAllergy">
      <div class="modal-header">
        <h5 class="modal-title">Edit Allergy</h5>
      </div>

      <div class="modal-body">

              <div class="form-group">
                <label for="Entering New item">Enter Allergy</label>
                <input type="text" class="form-control" formControlName="name" [value]="selectedAllergy?.name">
              </div>

              <div class="form-group">
                  <label for="Add Description">Edit Description</label>
                  <textarea type="text" class="form-control" formControlName="description" [value]="selectedAllergy?.description"
                  rows="4" cols="50">
                  </textarea>
              </div>

      </div>
      <div class="modal-footer">
          <div class="row">
                <div *ngIf="isLoading" class="col text-center">
                  <div class="spinner-border spinner-border-sm text-danger" role="status">
                      <span class="sr-only">Loading...</span>
                  </div>
              </div>
              <div *ngIf="!isLoading" class="col">
                  <button type="button" class="btn btn-success"
                  (click)="updateAllergy()" data-dismiss="modal" >update</button>
              </div>
              <div class="col">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              </div>
          </div>
      </div>
    </form>
    </div>
  </div>
</div>

<!--Model For Add Allergy Group-->
<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="addAllergyGroup">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Allergy Group</h5>
        <button type="button" class="btn btn-danger"
          data-toggle="modal" data-target="#myAllergyGroup" (click)="getAllergyGroup()"
          >See All Allergy Group
          </button>
      </div>

      <div class="modal-body">

          <form [formGroup]="addingAllergyGroup">
              <div class="form-group">
                <label for="Entering New item">Enter New Allergy Group</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Enter New Allergy Group Name">
              </div>

          </form>

      </div>
      <div class="modal-footer">
          <div class="row">
                <div *ngIf="isLoading" class="col text-center">
                  <div class="spinner-border spinner-border-sm text-danger" role="status">
                      <span class="sr-only">Loading...</span>
                  </div>
              </div>
              <div *ngIf="!isLoading" class="col">
                  <button type="button" class="btn btn-danger"
                  [disabled]="!addingAllergyGroup.get('name').valid"
                  (click)="getAllergy(false)"
                  data-toggle="modal" data-target="#selectAllegry"
                  >next</button>
              </div>
              <div class="col">
                  <button id="CreateAllergyGroupsClose" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!--Model For add new Allergy Group/select Allergies-->
<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="selectAllegry">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select Allergies</h5>
      </div>
      <div class="modal-body category-modal-body">

        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let allergy of allergies; index as i">{{allergy.name}}
            <span class=""><input class="newAllergyGroup"  [value]="allergy._id" type="checkbox" (change)="addItemAllergyGroup(allergy._id, i) "
            ></span>
          </li>
        </ul>


      </div>
      <div class="modal-footer">
        <div class="row">
          <div *ngIf="isLoading" class="col text-center">
            <div class="spinner-border spinner-border-sm text-danger" role="status">
                <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div *ngIf="!isLoading" class="col">
            <button type="button" class="btn btn-success"
            (click)="addAllergyGroup(); clearCheckDataAllergy()"
            >Save
            </button>
          </div>
        <button (click)="clearCheckDataAllergy()" type="button" class="btn btn-secondary" data-dismiss="modal"
        >Cancel
        </button>
       </div>
      </div>
    </div>
  </div>
</div>

  <!--Model For Add New Allergy Group/ My Allergy Group -->
  <div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="myAllergyGroup">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">My Allergy Group</h5>
        </div>
        <div class="modal-body category-modal-body">

          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let allergy of allergyGroup; index as i">{{allergy.name}}
            <div class="list-group-item d-flex justify-content-center align-items-center">
              <button (click)="setSelectedAllergyGroup(i)" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#editAllergyGroup">
              Edit
              </button>
              <button class="btn" (click)="deleteAllergyGroup(allergy._id)" data-dismiss="modal"><i class="fa fa-trash"></i></button>
            </div>
            </li>
          </ul>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
        </div>
      </div>
    </div>
  </div>


<!--Model For add new Allergy Group/ My Allergy Group/ Edit-->
<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="editAllergyGroup">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Select
        </h5>
      </div>
      <div class="modal-body">

        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let allergy of allergies; index as i">{{allergy.name}}
          <span #allergyCheckboxes>
            <input [value]="allergy._id" [checked]="allergy.isSelected" type="checkbox" (change)="setSelectedAllergy(i)"
            ></span>
          </li>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success"
        (click)="updateAllergyGroup()" data-dismiss="modal"
        >Update</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!--Model For Get Allergy Group-->
<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="getAllergyGroup">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select Allergy Group</h5>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Default</button>
      </div>
      <div class="modal-body">

        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let allergy of allergyGroup">{{allergy.name}}
          <span class=""><input [value]="allergy._id" type="radio" (change)="setItemAllergy($event, allergy.name)"
            name="topping"></span></li>
        </ul>

      </div>
      <div class="modal-footer">
        <button id="allergyCloseButton" type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>


<!--Model For add Varient-->
<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="addVarient">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Varient</h5>
        <button type="button" class="btn btn-danger" (click)="getVariants()"
          data-toggle="modal" data-target="#myVarient"> See Varient
          </button>
      </div>

      <div class="modal-body item-modal-body">

          <form [formGroup]="addingVarient">
              <div class="form-group">
                <label for="Entering New item">Add Varient</label>
                <input type="text" class="form-control" formControlName="Varient" placeholder="Add Varient">
              </div>
              <div class="form-group">
                <label for="Select category">Select Varient Group</label>
                <input id="newItemCat" readonly type="text" class="form-control" (click)="getVariant()"
                data-toggle="modal" data-target="#getVariant" placeholder="Select Varient Group">
              </div>
          </form>

      </div>
      <div class="modal-footer">
          <div class="row">
                <div *ngIf="isLoading" class="col text-center">
                  <div class="spinner-border spinner-border-sm text-danger" role="status">
                      <span class="sr-only">Loading...</span>
                  </div>
              </div>
              <div *ngIf="!isLoading" class="col">
                  <button type="button" class="btn btn-danger"
                  (click)="addVarient()" data-dismiss="modal" >Add</button>
              </div>
              <div class="col">
                  <button id="addVarientClose" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!--Model For select Variant Group-->
<div class="modal" tabindex="-1" role="dialog" id="getVariant" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">select Variant Group</h5>
        <button type="button" class="btn btn-danger" (click)="getVariant()"
          data-toggle="modal" data-target="#myVarient"> Default
          </button>
      </div>
      <div class="modal-body category-modal-body">

        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let variant of variants">{{variant.name}}
            <span class=""><input [value]="category._id" type="radio"
              (change)="setItemCategory($event, variant.name)" name="variant"></span>
          </li>

        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>

<!--Model For my Varient-->
<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="myVarient">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">My Varient</h5>
      </div>
      <div class="modal-body category-modal-body">

        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let variant of variants; index as i">{{variant.name}}
          <div class="list-group-item d-flex justify-content-center align-items-center">
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#editVariant"
            (click)="setSelectedOption(i)">Edit
            </button>
            <button class="btn " (click)="deleteVarient(variant._id)" data-dismiss="modal"><i class="fa fa-trash"></i></button>
          </div>
          </li>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>


<!--Model For Add Varient Group-->
<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="addVarientGroup">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Variant Group</h5>
        <button type="button" class="btn btn-danger" (click)="getVariantGroups()"
          data-toggle="modal" data-target="#myVarientGroup"> See All Varient Group
        </button>
      </div>

      <div class="modal-body item-modal-body">

          <form [formGroup]="addingVarientGroup">
              <div class="form-group">
                <label for="Entering New item">Enter New Varient Group</label>
                <input type="text" class="form-control" formControlName="Varient" placeholder="Enter New Variant Group Name">
              </div>

          </form>

      </div>
      <div class="modal-footer">
          <div class="row">
                <div *ngIf="isLoading" class="col text-center">
                  <div class="spinner-border spinner-border-sm text-danger" role="status">
                      <span class="sr-only">Loading...</span>
                  </div>
              </div>
              <div *ngIf="!isLoading" class="col">
                  <button type="button" class="btn btn-danger"
                  (click)="addVariantGroup()" data-dismiss="modal" >Next</button>
              </div>
              <div class="col">
                  <button id="VarientGroupsClose" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!--Model For my Varient Group-->
<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" id="myVarientGroup">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">My Varient Group</h5>
      </div>
      <div class="modal-body category-modal-body">

        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let variant of variants; index as i">{{variant.name}}
          <div class="list-group-item d-flex justify-content-center align-items-center">
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#editOption"
            (click)="setSelectedOption(i)">Edit
            </button>
            <button class="btn " (click)="deleteVariantGroup (variant._id)" data-dismiss="modal"><i class="fa fa-trash"></i></button>
          </div>
          </li>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>