<div class="app-body">
  <div class="container">
    
    <div class="row pt-5" >
      <div class="col-md-3">
        <div class="card bg-primary res-card" routerLink="/home/order">
          <div class="card-body text-center">
            <h1 class="card-text"><i class="fas fa-clipboard-list"></i></h1>
            <p class="card-text">Order</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card bg-primary res-card" routerLink="/home/declined-order">
          <div class="card-body text-center">
            <h1 class="card-text"><i class="fas fa-dumpster"></i></h1>
            <p class="card-text">Declined Order</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card bg-primary res-card" routerLink="/home/instant-action">
          <div class="card-body text-center">
            <h1 class="card-text"><i class="fas fa-hourglass-half"></i></h1>
            <p class="card-text">Instant Action</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card bg-primary res-card" routerLink="/home/discount">
          <div class="card-body text-center">
            <h1 class="card-text"><i class="fas fa-percentage"></i></h1>
            <p class="card-text">Offers/Discount</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card bg-primary res-card" routerLink="/home/menus">
          <div class="card-body text-center" >
            <h1 class="card-text"><i class="fas fa-bars"></i></h1>
            <p class="card-text" >Menu</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card bg-primary res-card">
          <div class="card-body text-center">
            <h1 class="card-text"><i class="fas fa-stopwatch"></i></h1>
            <p class="card-text">Product Time Set</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card bg-primary res-card" routerLink="/home/restaurant-details">
          <div class="card-body text-center">
            <h1 class="card-text"><i class="fas fa-hotel"></i></h1>
            <p class="card-text">Restaurant Details</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card bg-primary res-card">
          <div class="card-body text-center">
            <h1 class="card-text"><i class="far fa-clock"></i></h1>
            <p class="card-text">Restaurant Time Set</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card bg-primary res-card" routerLink="/home/settings">
          <div class="card-body text-center">
            <h1 class="card-text"><i class="fas fa-cogs"></i></h1>
            <p class="card-text">Settings</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12 text-center pb-4">
        <div>
          <h4>Filter By</h4>
        </div>

        <div >
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style"(change)="setFilter($event)">
            <mat-button-toggle value="dates">Dates</mat-button-toggle>
            <mat-button-toggle value="months" [checked]="true">Months</mat-button-toggle>
          </mat-button-toggle-group>
        </div>

      </div>

      <div class="col">
          <div >
            <canvas baseChart class="chart canvas-container"
              [datasets]="orderGraphDataset"
              [labels]="lineChartLabels"
              [colors]="chartColors"
              [options]="config"
              [chartType]="lineChartType"
            ></canvas>
          </div>
      </div>

  </div>
</div>


